.win-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background-color: #ffffff;
}
.win__Buttons--container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.win__button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(228, 84, 79);
    background-color: rgb(228, 84, 79);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.win__button:hover{
    background-color: white;
    color: rgb(228, 84, 79);
}