.card__pokemon-container{
    background-size: cover;
    min-width: 400px;
    min-height: 550px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100px; 
}
.card__tittle--container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
}
.pokemon__card--logo{
    background-color: rgba(255, 255, 255, 0.404);
    width: 33px;
    height: 33px;
    margin-left: 200%;
    margin-top: 18px;
}
.pokemon__card--logo--uncatch{
    background-color: rgba(255, 255, 255, 0.404);
    width: 33px;
    height: 33px;
    margin-left: 16.5%;
    margin-top: 18px;
}
.pokemon__card--button{
    top: 30%;
    right: 30%;
    background-color: rgba(218, 4, 4, 0.404);
    width: 33px;
    height: 33px;
    position: fixed;
}
.card__tittle--tittle{
    margin: 0;
    width: 46%;
    padding-top: 10px;
    margin-left: 20%;
}
.order{
    margin-left: 10%;
}
.stats{
    text-align:justify;
    margin-left: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.stats_tittle{
    font-size: 1rem;
    color: rgb(136, 6, 6);
    font-weight:bolder;
}
.image{
    width: 45%;
    height: 180px;
    margin-top: 25px;
    margin-left: 25%;
}
.weight{
    margin-top:20px;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.weight_title{
    padding-left: 19px;
    color: rgb(136, 6, 6);
}
.weight_text{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(4, 1, 250);
}
.stats_data{
    color:rgb(4, 1, 250);
}
