.home__main--container{
    min-width: 100%;
    width: fit-content;
}
.home__body--container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.home__body--image_left{
    margin-left: 10%;
    width: 400px;
    height: auto;
}
.home__body--image_right{
    margin-right: 10%;
    width: 400px;
    height: auto;
}
.home__login--container{
    min-width: 350px;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
}
.home__login--background{
    min-width: 350px;
    width: 25%;
    margin-top: 10%;
    height: auto;
    position: absolute;
    background-color: rgb(228, 84, 79);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(228, 84, 79);
}
.home__login--form{
    width: 20%;
    display: flex;
    margin-top: 4%;
    margin-left: -10%;
    flex-direction: column; 
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.home__login--title{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(228, 84, 79);
}
.home__login--input{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgb(228, 84, 79);
    padding: 0px 10px;
    margin-bottom: 10px;
}
.home__login--button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(228, 84, 79);
    background-color: rgb(228, 84, 79);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.home__login--button:hover{
    background-color: white;
    color: rgb(228, 84, 79);
}
.home__login--label{
    font-size: 1rem;
    color: rgb(228, 84, 79);
}
.error{
    color: rgb(185, 0, 0);
    font-size: 0.8rem;
    text-decoration: underline;
}
.home__login--register{
    margin-top: 10px;
    font-size: 0.8rem;
    color: rgb(228, 84, 79);
    text-decoration: underline;
}
.home__login--register_button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    color: rgb(228, 84, 79);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.home__loged--container{
     width: 20%;
    display: flex;
    margin-top: 25%;
    flex-direction: column; 
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: auto;

}
.home__loged--image{
    width: 80%;
    height: auto;
    border-radius: 100%;
}
.home__loged--text{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(228, 84, 79);
}
.home__loged--name{
    font-size: 1.5rem;
    color: rgb(228, 84, 79);
}
.home__loading{
    width: 5%;
    height: 5%;
    margin-top: 15%;
    position: absolute;
    color: rgb(228, 84, 79);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__logout--button{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.home__logout--button:hover{
    border-radius: 30%;
    box-shadow: 0px 0px 10px rgb(228, 84, 79);
}