.container_poke{

    margin-left: 10.5%;
    margin-right: 10.5%;
    width: 79%;
    text-align: center;
    margin-top: 2%;
    background-color: rgb(224, 222, 222);
    color: aliceblue;
    box-shadow: 3px 3px 15px 5px rgb(228, 84, 79);
}
.select_container:hover{
    background-color: rgb(24, 23, 23);
}
.img_container:hover .img{
    width: 106px;
    height: 106px;
    margin: 0px;
}
.img_container{
    width: 100px;
    height: 100px;
    border: 10px double rgba(228, 174, 170, 0.966); 
}
.container_poke{
    display: flex;
    flex-wrap: wrap;
    
}
.img{
    margin: 30px;
}
.img-Text{
    position:absolute;
    font-size: 0.7rem;
    margin: auto;
    color: black;
    opacity: 0;
    transition: .5s ease;
    font-weight: 700;
}
.img_container:hover .img-Text{
    opacity: 50;
}
