
html{
background-color: rgb(255, 255, 255);
  
}
.Master{
  background: url("https://cutewallpaper.org/26/best-pokedex-iphone-wallpaper/http-i-imgur-comsfdvxef-rotom-pokedex-iphone-background-hd-png-download-1080x1920-4376633-pinpng.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap:50px;
  justify-content: center;
}


